/app/Providers/AppServiceProvider.php
/node_modules
/public/hot
/public/storage
/public/igetbelle.json
/storage/*.key
/vendor
/database/db.sqlite
/database/*.sql
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
